<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<title>Language</title>
	</head>
	<body>
		<div>
			<p>Change language:</p>
			<ul>
				<li>
					<a href="/change-language/en"> English </a>
				</li>
				<li>
					<a href="/change-language/tk"> Turkmen </a>
				</li>
			</ul>
		</div>

		<hr />
		<h1>Computer: {{_('Computer')}}</h1>
		<h1>Anthony: {{ anthony }}</h1>
		<h1>Online: {{_('Online')}}</h1>
		<h1>Offline: {{_('Offline')}}</h1>
		<h1>Intenet: {{_('Internet')}}</h1>
		<h1>Personal: {{_('Personal')}}</h1>
		<h1>Email: {{_('Email') }}</h1>
		<h1>Dictionary: {{_('Dictionary')}}</h1>
		<h1>Hello: {{_('Hello')}}</h1>
		<h1>Data: {{_('Data')}}</h1>
	</body>
</html>
